<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dashboard-page">
    <div class="dashboard-container">
        <h1>Dashboard</h1>
        <h4>Welcome user! Please feel free to interact with the Nuclear Reactor Cooling System data below.</h4>
        <div id="live-data-container">
            <div id="live-data-entry"></div>
        </div>
    </div>
    <script src="/static/dashboard.js"></script>
</body>
</html>